In [10]:
import pandas as pd
import numpy as np

In [11]:
file='Resources - Christin/estimated_crimes_1979_2018.csv'
crime_rates = pd.read_csv(file)
crime_rates.head()

,year,state_abbr,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,caveats
0,1979,NaN,220099000,1208030,21460,76390.0,NaN,480700,629480,11041500,3327700,6601000,1112800,NaN
1,1980,NaN,225349264,1344520,23040,82990.0,NaN,565840,672650,12063700,3795200,7136900,1131700,NaN
2,1981,NaN,229465714,1361820,22520,82500.0,NaN,592910,663900,12061900,3779700,7194400,1087800,NaN
3,1982,NaN,231664458,1322390,21010,78770.0,NaN,553130,669480,11652000,3447100,7142500,1062400,NaN
4,1983,NaN,233791994,1258087,19308,78918.0,NaN,506567,653294,10850543,3129851,6712759,1007933,NaN

In [4]:
df.columns

Index(['year', 'state_abbr', 'population', 'violent_crime', 'homicide',
       'rape_legacy', 'rape_revised', 'robbery', 'aggravated_assault',
       'property_crime', 'burglary', 'larceny', 'motor_vehicle_theft',
       'caveats'],
      dtype='object')

In [5]:
condensed_crime_stats = df.loc[:, ['year', 'state_abbr', 'population', 'violent_crime', 'homicide',
       'rape_legacy', 'rape_revised', 'robbery', 'aggravated_assault',
      'property_crime', 'burglary', 'larceny', 'motor_vehicle_theft']]
condensed_crime_stats

,year,state_abbr,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
0,1979,NaN,220099000,1208030,21460,76390.0,NaN,480700,629480,11041500,3327700,6601000,1112800
1,1980,NaN,225349264,1344520,23040,82990.0,NaN,565840,672650,12063700,3795200,7136900,1131700
2,1981,NaN,229465714,1361820,22520,82500.0,NaN,592910,663900,12061900,3779700,7194400,1087800
3,1982,NaN,231664458,1322390,21010,78770.0,NaN,553130,669480,11652000,3447100,7142500,1062400
4,1983,NaN,233791994,1258087,19308,78918.0,NaN,506567,653294,10850543,3129851,6712759,1007933
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,2016,WY,584910,1431,20,205.0,206.0,59,1146,11460,1771,8889,800
2060,2017,WY,578934,1358,14,NaN,253.0,98,993,10528,1556,8211,761
2061,2018,WY,577737,1226,13,NaN,243.0,100,870,10313,1525,7949,839
2062,2017,NaN,325147121,1283875,17294,NaN,135666.0,320596,810319,7682988,1397045,5513000,772943
2063,2018,NaN,327167434,1245065,16214,NaN,139380.0,282061,807410,7196045,1230149,5217055,748841

In [6]:
rape_actuals = df.groupby( ['rape_legacy', 'rape_revised'] ).max
condensed_crime_stats

,year,state_abbr,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
0,1979,NaN,220099000,1208030,21460,76390.0,NaN,480700,629480,11041500,3327700,6601000,1112800
1,1980,NaN,225349264,1344520,23040,82990.0,NaN,565840,672650,12063700,3795200,7136900,1131700
2,1981,NaN,229465714,1361820,22520,82500.0,NaN,592910,663900,12061900,3779700,7194400,1087800
3,1982,NaN,231664458,1322390,21010,78770.0,NaN,553130,669480,11652000,3447100,7142500,1062400
4,1983,NaN,233791994,1258087,19308,78918.0,NaN,506567,653294,10850543,3129851,6712759,1007933
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,2016,WY,584910,1431,20,205.0,206.0,59,1146,11460,1771,8889,800
2060,2017,WY,578934,1358,14,NaN,253.0,98,993,10528,1556,8211,761
2061,2018,WY,577737,1226,13,NaN,243.0,100,870,10313,1525,7949,839
2062,2017,NaN,325147121,1283875,17294,NaN,135666.0,320596,810319,7682988,1397045,5513000,772943
2063,2018,NaN,327167434,1245065,16214,NaN,139380.0,282061,807410,7196045,1230149,5217055,748841

In [9]:
year_2015 = df['year']==2015
data_2015 = df[year_2015]   
data_2015 

clean_data = data_2015.drop(columns=["rape_legacy","caveats"]) 
clean_data["state_abbr"].replace('NaN','USA')
clean_data

,year,state_abbr,population,violent_crime,homicide,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
36,2015,NaN,320896618,1199310,15883,126134.0,328109,764057,8024115,1587564,5723488,713063
74,2015,AK,737709,5391,59,900.0,761,3671,20806,3511,15249,2046
114,2015,AL,4853875,22957,348,2037.0,4612,15960,144785,35265,99182,10338
154,2015,AR,2977853,15769,189,2008.0,2117,11455,97391,22851,68720,5820
194,2015,AZ,6817565,27968,306,3109.0,6360,18193,207184,38010,152388,16786
234,2015,CA,38993940,166883,1861,12811.0,52862,99349,1024914,197404,656517,170993
274,2015,CO,5448819,17348,173,3328.0,3315,10532,144044,23490,104532,16022
314,2015,CT,3584730,7938,116,798.0,2925,4099,65610,10286,48898,6426
354,2015,DC,670377,8538,162,494.0,3746,4136,31444,2971,25208,3265
394,2015,DE,944076,4760,62,361.0,1240,3097,25545,4797,19555,1193
434,2015,FL,20244914,93625,1041,7552.0,21137,63895,570270,109268,420341,40661
474,2015,GA,10199398,38891,622,3257.0,12545,22467,316013,68149,220715,27149
514,2015,HI,1431603,4201,19,561.0,1203,2418,54346,6557,42010,5779
554,2015,IA,3121997,8619,73,1205.0,1050,6291,64688,14977,45328,4383
594,2015,ID,1652828,3593,32,703.0,191,2667,28912,6124,20916,1872
634,2015,IL,12839047,49755,754,4926.0,15056,29019,256962,46846,192424,17692
674,2015,IN,6612768,25373,370,2386.0,7081,15536,171878,34404,123940,13534
714,2015,KS,2906721,11483,126,1684.0,1823,7850,80059,15619,57435,7005
754,2015,KY,4424611,9887,219,1644.0,3314,4710,97545,22526,67143,7876
794,2015,LA,4668960,25202,492,1733.0,5561,17416,157708,35457,112520,9731
834,2015,MA,6784240,26453,131,2082.0,5266,18974,114547,21826,84676,8045
874,2015,MD,5994983,28185,538,1717.0,10111,15819,142547,26432,102701,13414
914,2015,ME,1329453,1726,23,461.0,311,931,24361,4694,18853,814
954,2015,MI,9917715,41712,585,6710.0,7818,26599,191191,40375,132019,18797
994,2015,MN,5482435,13319,133,2321.0,3771,7094,121984,19299,94704,7981
1034,2015,MO,6076204,30292,503,2573.0,6383,20833,173788,34029,122749,17010
1058,2015,MS,2989390,8190,253,1158.0,2312,4467,85785,25068,56446,4271
1098,2015,MT,1032073,3647,38,572.0,210,2827,27276,3887,20966,2423
1138,2015,NC,10035186,34734,517,2591.0,8821,22805,275915,74760,187732,13423
1178,2015,ND,756835,1949,21,391.0,159,1378,17716,3296,12686,1734
1218,2015,NE,1893765,5167,62,885.0,994,3226,42597,6443,32148,4006
1258,2015,NH,1330111,2692,15,644.0,475,1558,23453,3482,19076,895
1298,2015,NJ,8935421,22879,363,1373.0,9729,11414,145701,27960,105963,11778
1338,2015,NM,2080328,13672,117,1663.0,2485,9407,77212,17084,51485,8643
1378,2015,NV,2883758,20118,178,1688.0,6287,11965,77137,22360,43426,11351
1418,2015,NY,19747183,75126,613,6141.0,23879,44493,317225,44117,257837,15271
1458,2015,OH,11605090,34373,522,5441.0,12617,15793,303743,69994,216354,17395
1498,2015,OK,3907414,16746,240,1953.0,3018,11535,114055,28783,74678,10594
1538,2015,OR,4024634,10680,110,1650.0,2163,6757,119752,18541,90514,10697
1578,2015,PA,12791904,40348,665,4299.0,12965,22419,231941,39573,180236,12132
1618,2015,RI,1055607,2565,31,467.0,547,1520,20038,3938,14714,1386
1658,2015,SC,4894834,24448,407,2439.0,3950,17652,162830,34942,114778,13110
1698,2015,SD,857919,3302,33,500.0,215,2554,16739,2969,12576,1194
1738,2015,TN,6595056,40816,418,2801.0,7499,30098,196047,43753,139259,13035
1778,2015,TX,27429639,113193,1317,12323.0,31924,67629,779234,153067,558653,67514
1818,2015,UT,2990632,7138,57,1704.0,1329,4048,89797,12606,68464,8727
1858,2015,VA,8367587,16705,390,2499.0,4459,9357,157803,21542,128064,8197
1898,2015,VT,626088,747,10,150.0,105,482,9064,2034,6834,196
1938,2015,WA,7160290,20505,218,2778.0,5450,12059,249474,51114,171393,26967
1978,2015,WI,5767891,17549,240,1805.0,5234,10270,114171,19602,83572,10997
2018,2015,WV,1841053,6397,85,710.0,783,4819,38694,9467,26984,2243
2058,2015,WY,586555,1300,16,171.0,59,1054,11151,1762,8797,592

In [12]:
SAT_data

NameError: name 'SAT_data' is not defined